.DS_Store
.aiws/
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.egg-info/
*cache/
*.tsbuildinfo

.env
.env.*
!.env.template
!.env.example

web/dist/
web/node_modules/
web-workbench/dist/
web-workbench/node_modules/
